.about-us,
.about-us * {
  box-sizing: border-box;
}
.about-us {
  background: #ffffff;
  padding: 11px 0px 11px 0px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  height: 1447px;
  position: relative;
  overflow: hidden;
}
.navigation {
  background: #aad1fc;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px 200px 10px 200px;
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 85px;
  position: relative;
  overflow: hidden;
}
.logo {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 330px;
  position: relative;
  overflow: hidden;
}
.component-1 {
  flex-shrink: 0;
  width: 320px;
  height: 39px;
  position: relative;
}
.bi-d-bra-n-talks {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.menu {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 683px;
  position: relative;
  overflow: hidden;
}
.up-buttons {
  flex-shrink: 0;
  width: 98px;
  height: 23px;
  position: relative;
}
.button {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.up-buttons2 {
  flex-shrink: 0;
  width: 111px;
  height: 23px;
  position: relative;
}
.button2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.up-buttons3 {
  flex-shrink: 0;
  width: 92px;
  height: 23px;
  position: relative;
}
.up-buttons4 {
  flex-shrink: 0;
  width: 90px;
  height: 23px;
  position: relative;
}
.rg-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 447px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1440/447;
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 89px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._250 {
  color: #000000;
  text-align: left;
  font-family: var(--h2-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 64px);
  font-weight: var(--h2-font-weight, 600);
  position: relative;
  width: 165px;
}
.ge-m-registrations {
  color: #000000;
  text-align: left;
  font-family: var(--h8-font-family, "InstrumentSans-Regular", sans-serif);
  font-size: var(--h8-font-size, 32px);
  font-weight: var(--h8-font-weight, 400);
  position: relative;
  width: 240px;
  height: 82px;
}
._450 {
  color: #000000;
  text-align: left;
  font-family: var(--h2-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h2-font-size, 64px);
  font-weight: var(--h2-font-weight, 600);
  position: relative;
  width: 165px;
}
.professionals-trained {
  color: #000000;
  text-align: left;
  font-family: var(--h8-font-family, "InstrumentSans-Regular", sans-serif);
  font-size: var(--h8-font-size, 32px);
  font-weight: var(--h8-font-weight, 400);
  position: relative;
  width: 240px;
  height: 82px;
}
.frame-9 {
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  gap: 69px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 609px;
  position: relative;
}
.silver-certificate-page-0001-1 {
  flex-shrink: 0;
  width: 593px;
  height: 492px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 593/492;
}
.gold-certificate-page-0001-1 {
  flex-shrink: 0;
  width: 581px;
  height: 493px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 581/493;
}
