.homepage,
.homepage * {
  box-sizing: border-box;
}

.homepage {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.navigation {
  background: #aad1fc;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px 200px 10px 200px;
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 85px;
  position: relative;
  overflow: hidden;
}

.logo {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 330px;
  position: relative;
  overflow: hidden;
}

.component-1 {
  flex-shrink: 0;
  width: 320px;
  height: 39px;
  position: relative;
}

.bi-d-bra-n-talks {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.menu {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 683px;
  position: relative;
  overflow: hidden;
}

.up-buttons {
  flex-shrink: 0;
  width: 98px;
  height: 23px;
  position: relative;
}

.button {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.up-buttons2 {
  flex-shrink: 0;
  width: 113px;
  height: 23px;
  position: relative;
}

.up-buttons3 {
  flex-shrink: 0;
  width: 94px;
  height: 23px;
  position: relative;
}

.up-buttons4 {
  flex-shrink: 0;
  width: 92px;
  height: 23px;
  position: relative;
}

.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 79px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.image-1 {
  flex-shrink: 0;
  width: 737px;
  height: 895px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 737/895;
}

.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 57px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 471px;
  position: relative;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-1 {
  padding: 10px;
  align-self: stretch;
  flex-shrink: 0;
  height: 412px;
  position: relative;
}

.winning-tenders-made-easy {
  color: #000000;
  text-align: left;
  font-family: var(--h1-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h1-font-size, 80px);
  font-weight: var(--h1-font-weight, 600);
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
}

.end-to-end-tender-consultancy-for-government-procurement {
  color: #000000;
  text-align: left;
  font-family: var(--h5-font-family, "Roboto-Light", sans-serif);
  font-size: var(--h5-font-size, 20px);
  font-weight: var(--h5-font-weight, 300);
  position: relative;
  width: 426px;
  height: 40px;
}

.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.book-your-consultation-now {
  color: #000000;
  text-align: left;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 24px);
  font-weight: var(--h6-font-weight, 700);
  position: relative;
  width: 272px;
}

.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 65px;
  row-gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 337px;
  position: relative;
}

.whatsapp {
  flex-shrink: 0;
  width: 143px;
  height: 40px;
  position: static;
}

.whatsapp-logo {
  width: 40px;
  height: 40px;
  position: static;
}

.whatsapp-logo2 {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}

.contact-us {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 56px;
  top: 9px;
  width: 87px;
  height: 22px;
}

.instagram {
  flex-shrink: 0;
  width: 127px;
  height: 36px;
  position: static;
}

.instagram-logo {
  width: 36px;
  height: 36px;
  position: static;
}

.instagram-logo2 {
  border-radius: 10px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 208px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}

.follow-us {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 262px;
  top: 7px;
  width: 73px;
  height: 22px;
}

.gmail {
  flex-shrink: 0;
  width: 145px;
  height: 31px;
  position: static;
}

.gmail-logo {
  width: 35px;
  height: 31px;
  position: static;
}

.gmail-logo2 {
  width: 35px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 65px;
  object-fit: cover;
  aspect-ratio: 35/31;
}

.contact-us2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 59px;
  top: 69px;
  width: 86px;
  height: 22px;
}

.linkedin {
  flex-shrink: 0;
  width: 127px;
  height: 34px;
  position: static;
}

.linked-in-logo {
  width: 34px;
  height: 34px;
  position: static;
}

.linked-in-logo2 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 210px;
  top: 65px;
  object-fit: cover;
  aspect-ratio: 1;
}

.follow-us2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 264px;
  top: 71px;
  width: 73px;
  height: 22px;
}