.services,
.services * {
  box-sizing: border-box;
}
.services {
  background: #ffffff;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.navigation {
  background: #aad1fc;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px 200px 10px 200px;
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 85px;
  position: relative;
  overflow: hidden;
}
.logo {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 330px;
  position: relative;
  overflow: hidden;
}
.component-1 {
  flex-shrink: 0;
  width: 320px;
  height: 39px;
  position: relative;
}
.bi-d-bra-n-talks {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.menu {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 683px;
  position: relative;
  overflow: hidden;
}
.up-buttons {
  flex-shrink: 0;
  width: 113px;
  height: 23px;
  position: relative;
}
.button {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.up-buttons2 {
  flex-shrink: 0;
  width: 98px;
  height: 23px;
  position: relative;
}
.up-buttons3 {
  flex-shrink: 0;
  width: 94px;
  height: 23px;
  position: relative;
}
.up-buttons4 {
  flex-shrink: 0;
  width: 92px;
  height: 23px;
  position: relative;
}
.rg-2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 449px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1440/449;
}
.services-that-we-provide {
  color: #000000;
  text-align: left;
  font-family: var(--h9-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h9-font-size, 48px);
  font-weight: var(--h9-font-weight, 600);
  position: relative;
  width: 745px;
  height: 58px;
}
.frame-10 {
  border-style: solid;
  border-color: #aad1fc;
  border-width: 3px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  height: 155px;
  position: relative;
}
.registration-on-e-procurement-websites-and-gem-tender-search-tender-preparation-tender-submission-post-tender-process-tender-winning-tips-udyam-registration-startup-registration {
  color: #000000;
  text-align: center;
  font-family: var(--h7-font-family, "InstrumentSans-Medium", sans-serif);
  font-size: var(--h7-font-size, 24px);
  font-weight: var(--h7-font-weight, 500);
  position: relative;
  width: 1190px;
}
.frame-11 {
  background: #ffffff;
  padding: 18px 0px 18px 0px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.buisness-development {
  flex-shrink: 0;
  width: 546px;
  height: 256px;
  position: static;
}
.buisness-development2 {
  color: #000000;
  text-align: left;
  font-family: var(--h10-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h10-font-size, 32px);
  font-weight: var(--h10-font-weight, 600);
  position: absolute;
  left: 95.5px;
  top: 35px;
  width: 280px;
  height: 76px;
}
.we-provide-business-development-strategies-a-company-can-use-to-accomplish-its-business-development-goals {
  color: #000000;
  text-align: left;
  font-family: var(--h11-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h11-font-size, 16px);
  font-weight: var(--h11-font-weight, 400);
  position: absolute;
  left: 97.5px;
  top: 157px;
  width: 258px;
  height: 99px;
}
.image-32 {
  width: 255px;
  height: 256px;
  position: absolute;
  left: 386.5px;
  top: 18px;
  object-fit: cover;
  aspect-ratio: 255/256;
}
.e-procurement-services {
  flex-shrink: 0;
  width: 639px;
  height: 271px;
  position: static;
}
.image-33 {
  width: 381px;
  height: 271px;
  position: absolute;
  left: 963.5px;
  top: 18px;
  object-fit: cover;
  aspect-ratio: 381/271;
}
.e-procurement-services2 {
  color: #000000;
  text-align: left;
  font-family: var(--h10-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h10-font-size, 32px);
  font-weight: var(--h10-font-weight, 600);
  position: absolute;
  left: 705.5px;
  top: 38px;
  width: 300px;
  height: 76px;
}
.we-simplify-e-procurement-by-ensuring-compliance-accurate-documentation-and-timely-tender-submissions {
  color: #000000;
  text-align: left;
  font-family: var(--h11-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h11-font-size, 16px);
  font-weight: var(--h11-font-weight, 400);
  position: absolute;
  left: 707.5px;
  top: 185px;
  width: 272px;
  height: 101px;
}
.frame-13 {
  background: #f5f5f5;
  flex-shrink: 0;
  width: 1440px;
  height: 449px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.gem-logo-11-1 {
  width: 394px;
  height: 296px;
  position: absolute;
  left: 106px;
  top: 113px;
  object-fit: cover;
  aspect-ratio: 394/296;
}
.gem-registration {
  width: 255px;
  height: 76px;
  position: static;
}
.ge-m-registration {
  color: #000000;
  text-align: left;
  font-family: var(--h10-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h10-font-size, 32px);
  font-weight: var(--h10-font-weight, 600);
  position: absolute;
  left: 137px;
  top: 50px;
  width: 255px;
  height: 76px;
}
.gem-process-text {
  position: absolute;
  inset: 0;
}
.user-id-password-creation-profile-creation-vendor-assessment-exemption-oem-panel-registration-brand-approval-catalogue-upload-products-services {
  color: #000000;
  text-align: left;
  font-family: var(--h11-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h11-font-size, 16px);
  font-weight: var(--h11-font-weight, 400);
  position: absolute;
  left: 738px;
  top: 86px;
  width: 214px;
  height: 286px;
}
.stock-update-relevant-bid-search-bid-submission-documents-order-acceptance-process-invoice-generation-other-related-services {
  color: #000000;
  text-align: left;
  font-family: var(--h11-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h11-font-size, 16px);
  font-weight: var(--h11-font-weight, 400);
  position: absolute;
  left: 1065px;
  top: 86px;
  width: 171px;
  height: 286px;
}
.frame-12 {
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 230px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.startup-registration {
  flex-shrink: 0;
  width: 471.5px;
  height: 375px;
  position: static;
}
.image-30 {
  width: 452px;
  height: 199px;
  position: absolute;
  left: 155.75px;
  top: 186px;
  object-fit: cover;
  aspect-ratio: 452/199;
}
.start-up-registration {
  color: #000000;
  text-align: left;
  font-family: var(--h10-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h10-font-size, 32px);
  font-weight: var(--h10-font-weight, 600);
  position: absolute;
  left: 172.75px;
  top: 10px;
  width: 255px;
  height: 76px;
}
.right-from-registration-of-startups-to-participating-in-govt-tenders-we-empower-startups-to-expand-their-buisness-and-exlpore-new-oppurtunities {
  color: #000000;
  text-align: left;
  font-family: var(--h11-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h11-font-size, 16px);
  font-weight: var(--h11-font-weight, 400);
  position: absolute;
  left: 173.25px;
  top: 110px;
  width: 454px;
  height: 132px;
}
.udyam-registration {
  flex-shrink: 0;
  width: 427px;
  height: 342px;
  position: static;
}
.udyam-registration2 {
  color: #000000;
  text-align: left;
  font-family: var(--h10-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h10-font-size, 32px);
  font-weight: var(--h10-font-weight, 600);
  position: absolute;
  left: 860.25px;
  top: 26.5px;
  width: 255px;
  height: 76px;
}
.unlock-msme-benefits-with-a-quick-and-hassle-free-udyam-registration-udyam-registration-formerly-udyog-aadhaar-is-the-official-recognition-of-micro-small-and-medium-enterprises-msm-es-by-the-government-of-india {
  color: #000000;
  text-align: left;
  font-family: var(--h11-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h11-font-size, 16px);
  font-weight: var(--h11-font-weight, 400);
  position: absolute;
  left: 857.25px;
  top: 119px;
  width: 427px;
  height: 63px;
}
.image-38 {
  width: 335px;
  height: 133px;
  position: absolute;
  left: 860.25px;
  top: 235.5px;
  object-fit: cover;
  aspect-ratio: 335/133;
}
