/* Figma Styles of your File */
:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --blue: #aad1fc;
  --grey: #c2c3c4;
  --light-grey: #d9d9d9;

  /* Fonts */
  --h1-font-family: Montserrat-SemiBold, sans-serif;
  --h1-font-size: 80px;
  --h1-line-height: normal;
  --h1-font-weight: 600;
  --h1-font-style: normal;
  --h2-font-family: Montserrat-SemiBold, sans-serif;
  --h2-font-size: 64px;
  --h2-line-height: normal;
  --h2-font-weight: 600;
  --h2-font-style: normal;
  --h3-font-family: InstrumentSans-Medium, sans-serif;
  --h3-font-size: 16px;
  --h3-line-height: normal;
  --h3-font-weight: 500;
  --h3-font-style: normal;
  --h4-font-family: Roboto-Bold, sans-serif;
  --h4-font-size: 20px;
  --h4-line-height: normal;
  --h4-font-weight: 700;
  --h4-font-style: normal;
  --h5-font-family: Roboto-Light, sans-serif;
  --h5-font-size: 20px;
  --h5-line-height: normal;
  --h5-font-weight: 300;
  --h5-font-style: normal;
  --h6-font-family: Montserrat-Bold, sans-serif;
  --h6-font-size: 24px;
  --h6-line-height: normal;
  --h6-font-weight: 700;
  --h6-font-style: normal;
  --h7-font-family: InstrumentSans-Medium, sans-serif;
  --h7-font-size: 24px;
  --h7-line-height: normal;
  --h7-font-weight: 500;
  --h7-font-style: normal;
  --h8-font-family: InstrumentSans-Regular, sans-serif;
  --h8-font-size: 32px;
  --h8-line-height: normal;
  --h8-font-weight: 400;
  --h8-font-style: normal;
  --h9-font-family: Montserrat-SemiBold, sans-serif;
  --h9-font-size: 48px;
  --h9-line-height: normal;
  --h9-font-weight: 600;
  --h9-font-style: normal;
  --h10-font-family: Montserrat-SemiBold, sans-serif;
  --h10-font-size: 32px;
  --h10-line-height: normal;
  --h10-font-weight: 600;
  --h10-font-style: normal;
  --h11-font-family: Montserrat-Regular, sans-serif;
  --h11-font-size: 16px;
  --h11-line-height: normal;
  --h11-font-weight: 400;
  --h11-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
